<article>
    @if (dbContext is not null && livestockType is not null)
    {

        @if (Step == (int)Steps.FeedDefinition)
        {
            <p>Please enter information about the type of livestock you want to produce</p>
            <LivestockFeedEditor @ref="livestockFeedEditor" livestockFeed="@livestockFeed" livestockFeedId="@livestockFeed.Id" Submitted="@LivestockFeedUpdated"></LivestockFeedEditor>
        }
        @if (Step == (int)Steps.CreateServings)
        {
            <p>What are the feed servings?</p>
            <CascadingValue Value="@livestockFeed">
            </CascadingValue>
        }
        @if (ShowPrevious())
        {
            <button @onclick="Prev" type="button">Prev</button>
        }
        @if (ShowNext())
        {
            <button @onclick="Next" type="submit">Next</button>
        }
    }
</article>