@page "/Home"
@using FrontEnd.Persistence
@using MicroAgManager.Services
@using Microsoft.EntityFrameworkCore


<PageTitle>Home</PageTitle>
@if(ApplicationState._dbContext == null)
{
    <span>Initializing DB</span>
}
else 
{
    @if (!ApplicationState._dbContext.LandPlots.Any())
    {
        <NavLink href="/Land/-1">Create a Plot of Land</NavLink>
    }
}

@code{


    

}