@page "/Home"
@using FrontEnd.Persistence
@using Microsoft.EntityFrameworkCore


<PageTitle>Home</PageTitle>
@if(dbContext == null)
{
    <span>Initializing DB</span>
}
else 
{
    @if (!dbContext.Farms.Any())
    {
        <NavLink href="/Land/-1">Create a Plot of Land</NavLink>
    }
}

@code{
    [CascadingParameter] private FrontEndDbContext dbContext {get;set;}

    

}