.Land {
    width: 100%;
    height: -webkit-fill-available;
    display: grid;
    grid-template-columns: 25ch 1fr;
    align-items: start;

    &>div{
        overflow:auto;
    }

    & ::deep > .TreeView {
        height: 100%;
        background-image: linear-gradient(180deg, var(--nav-gradient-start-color) 0%, var(--nav-gradient-end-color) 100%);
        color: var(--typography-secondary-color);
    }

    & ::deep .nodeContent {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & a {
            color: inherit;
        }
    }


    & .microagmanager {
        width: 100%;
    }
}
