.Land {
  width: inherit;
  height: 100%;
  display: grid;
  grid-template-columns: 25ch 1fr;
  align-items: start;
}
.Land ::deep > .TreeView {
  height: 100%;
  background-image: linear-gradient(180deg, var(--nav-gradient-start-color) 0%, var(--nav-gradient-end-color) 100%);
  color: var(--typography-secondary-color);
}
.Land ::deep .nodeContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Land ::deep .nodeContent a {
  color: inherit;
}
.Land .microagmanager {
  width: 75vw;
}
