@page "/Livestock"
@using FrontEnd.Persistence
@using MicroAgManager.Services

<PageTitle>Livestock</PageTitle>
<div class="Livestock">
    @if (ApplicationState._dbContext?.Tenants.Any() == true)
    {
    }
    else
    {
    <span>Initializing application </span>
    }
</div>


@code {
    [Inject] NavigationManager navigationManager { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "Id")] public long? Id { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "LocationId")] public long? LocationId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "LivestockAnimalId")] public long? LivestockAnimalId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "StatusId")] public long? StatusId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "LivestockBreedId")] public long? LivestockBreedId { get; set; }

}
