.Livestock {
  width: 100%;
  height: -webkit-fill-available;
  display: grid;
  grid-template-columns: 25ch 1fr;
  align-items: start;
}
.Livestock > div {
  overflow: auto;
}
.Livestock ::deep > .TreeView {
  height: 100%;
  background-image: linear-gradient(180deg, var(--nav-gradient-start-color) 0%, var(--nav-gradient-end-color) 100%);
  color: var(--typography-secondary-color);
}
.Livestock ::deep .nodeContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-wrap: balance;
}
.Livestock ::deep .nodeContent a {
  color: inherit;
}
.Livestock .microagmanager {
  width: 100%;
}
