.FarmNameplate {
    display: grid;
    grid-template-columns: 30ch repeat(auto-fill,minmax(29%, 1fr));
    align-items: center;
    grid-gap: .5em;
    justify-items: baseline;

    

    & h3, & h4 {
        margin-block: auto;
    }

    & .name {
       display:flex;
       flex-wrap:wrap;
       justify-content:end;
    }

    & .address {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(19%, 15ch));
        grid-gap: .25em;
    }

    & .plots {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12.4%, 30ch));
        grid-gap: .25em;
    }

    & .location {
        align-items: center;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(29%, 22ch));
        grid-gap: .25em;
    }
}
@container (width < 405px) {
    .FarmNameplate {
        grid-template-columns: max-content;

        & .plots {
            grid-template-columns: unset;
        }

        & .location {
            grid-template-columns: unset;
        }
    }
}