.FarmNameplate {
  display: grid;
  align-items: center;
  grid-gap: 0 0.25rem;
  justify-items: baseline;
}
.FarmNameplate h3, .FarmNameplate h4 {
  margin-block: auto;
}
.FarmNameplate .name {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.FarmNameplate .address {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
}
.FarmNameplate .address > h4 {
  flex: 0 0 100%;
}
.FarmNameplate .plots {
  display: grid;
  grid-gap: 0 0.25rem;
  grid-template-columns: repeat(3, 1fr auto);
}
.FarmNameplate .plots > label {
  font-size: 0.75em;
  font-weight: bold;
}
.FarmNameplate .location {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-wrap: wrap;
}
.FarmNameplate .location > h4 {
  flex: 0 0 100%;
}
.FarmNameplate .location > label {
  font-size: 0.85em;
  font-weight: bold;
}
