.FarmNameplate {
  display: grid;
  grid-template-columns: 30ch repeat(auto-fill, minmax(29%, 1fr));
  align-items: center;
  grid-gap: 0.5em;
  justify-items: baseline;
}
.FarmNameplate h3, .FarmNameplate h4 {
  margin-block: auto;
}
.FarmNameplate .name {
  grid-row-end: -1;
}
.FarmNameplate .address {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19%, 15ch));
  grid-gap: 0.25em;
}
.FarmNameplate .plots {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.4%, 30ch));
  grid-gap: 0.25em;
}
.FarmNameplate .location {
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29%, 22ch));
  grid-gap: 0.25em;
}

@container (width < 405px) {
  .FarmNameplate {
    grid-template-columns: max-content;
  }
  .FarmNameplate .plots {
    grid-template-columns: unset;
  }
  .FarmNameplate .location {
    grid-template-columns: unset;
  }
}
