@using Domain.Extensions;
@if (ShowViewSelector)
{
    <div class="ListViewSelector">
        <i class="fas fa-eye"></i>
        <select @bind="@ListType">
            @foreach (var g in AvailableListTypes)
            {
                <option value="@g">@g.GetEnumDescription()</option>
            }
        </select>
    </div>
}
