<div class="SearchInput">
    <i @onclick=ShowSearchDetailCallback class="fas fa-search"></i>
    <input @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeyup="SearchKeyUpCallback" placeholder=" " disabled="@ShowSearchDetail" />
</div>