<div class="LivestockViewer">
    <CascadingValue Value="Livestock">
    @if (_editting)
    {
        <LivestockEditor Cancelled="@(()=>EditComplete())" Submitted="@(()=>EditComplete(true))"></LivestockEditor>
    }
    else{
        <LivestockButton ShowAge=false ShowEmoji=true ShowGender=true ShowGeneral=false ShowParents=false ShowStatus=false OnClick="@(()=> ShowEditor())"></LivestockButton>
        @if (Livestock?.Id > 0)
        {
            <LivestockSubTabs Submitted="StateHasChanged"></LivestockSubTabs>
        }
    }
    </CascadingValue>
</div>