@using Domain.Constants;
@using Domain.Models;
@inherits DataComponent<LivestockModel>
@if (livestock is not null)
{
    <div class="LivestockAncestry @GenderClass()">
        <CascadingValue Value="livestock">
            <LivestockBadge ShowEmoji=false></LivestockBadge>
        </CascadingValue>
        @if (livestockMom is not null)
        {
            <CascadingValue Value="livestockMom">
                <LivestockAncestry></LivestockAncestry>
            </CascadingValue>
        }
        else
        {
            <div class="unknown female">
            <span class="fa-stack">
                <i class="fas fa-stack-1x fa-venus female"></i>
            </span>
            Unknown
        </div>
        }
        @if (livestockDad is not null)
        {
            <CascadingValue Value="livestockDad">
                <LivestockAncestry></LivestockAncestry>
            </CascadingValue>
        }
        else
        {

            <div class="unknown male">
                <span class="fa-stack">
                    <i class="fas fa-stack-1x fa-mars male"></i>
                </span>
                Unknown
            </div>
        }
    </div>
}