@using Domain.Models;
@inherits DataComponent<LivestockModel>
<div class="LivestockViewer">
    @if (_editting)
    {
        <CascadingValue Value="livestock">
            <LivestockEditor Cancelled="@(()=>EditComplete())" Submitted="@(()=>EditComplete(true))"></LivestockEditor>
        </CascadingValue>
    }
    else{
        <CascadingValue Value="livestock">
            <LivestockBadge OnClick="@(()=> ShowEditor())" ShowAge="true" ShowGeneral="true" ShowStatus="true" ></LivestockBadge>
        </CascadingValue>
        
        @if (livestock.Id > 0)
        {
            <CascadingValue Value="@livestock">
                <LivestockSubTabs Submitted="StateHasChanged"></LivestockSubTabs>
            </CascadingValue>
        }
    }
</div>