.LivestockAncestry {
    width: 100%;
    display: grid;
    grid-template-columns: 9rem 9rem;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;

    & .unknown {
        width: 100%;
        padding: 0.25rem 0.5rem;

        &.male {
            border: 1px solid var(--male-bo-color);
            background-color: var(--male-color);
        }

        &.female {
            border: 1px solid var(--female-bo-color);
            background-color: var(--female-color);
        }
    }

    &.male {
        border: 1px solid var(--male-bo-color);
        background-color: var(--male-color);
    }

    &.female {
        border: 1px solid var(--female-bo-color);
        background-color: var(--female-color);
    }

    & > ::deep .LivestockBadge {
        grid-row: span 2;
        align-self: center;
    }
}
