.LivestockNameplate {
  display: grid;
  grid-template-columns: 30ch repeat(auto-fill, minmax(29%, 1fr));
  align-items: center;
  grid-gap: 0.5em;
  justify-items: baseline;
}
.LivestockNameplate h3, .LivestockNameplate h4 {
  margin-block: auto;
}
.LivestockNameplate .name {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

@container (width < 405px) {
  .LivestockNameplate {
    grid-template-columns: max-content;
  }
}
