.LivestockNameplate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
  justify-items: baseline;
}
.LivestockNameplate h3, .LivestockNameplate h4 {
  margin-block: auto;
}
.LivestockNameplate .name {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
