.FarmNameplate {
    display: flex;
    gap: 0.5em;
    align-items:center;



    & h3, & h4 {
        margin-block: auto;
    }

    & .name {
        flex-shrink: 0;
    }

    & .address {
        flex-shrink: 0;
        display: flex;
        gap: 0.5em;
    }

    & .plots {
        flex-shrink: 0;
        display: flex;
        gap: 0.5em;
    }

    & .location {
        flex-shrink: 0;
        display: flex;
        gap: 0.5em;
    }
}
