.FarmNameplate {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.FarmNameplate h3, .FarmNameplate h4 {
  margin-block: auto;
}
.FarmNameplate .name {
  flex-shrink: 0;
}
.FarmNameplate .address {
  flex-shrink: 0;
  display: flex;
  gap: 0.5em;
}
.FarmNameplate .plots {
  flex-shrink: 0;
  display: flex;
  gap: 0.5em;
}
.FarmNameplate .location {
  flex-shrink: 0;
  display: flex;
  gap: 0.5em;
}
