.FarmNameplate {
    padding: unset;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas:
        'name address location weather';
    align-items: center;
    grid-gap: 0 0.25rem;
    justify-items: baseline;

}
