@page "/farm"

@inject ClientApplicationStateProvider app
@rendermode InteractiveWebAssembly
<PageTitle>Farm</PageTitle>

<h1>Farm</h1>


@code {
    protected override void OnInitialized()
    {
        var test = app.IsDbInitialized;
        if (test)
        {
            var i = 1;               }
    }
}
