
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
body {
    padding-inline: 1rem;
    margin: auto;
    --font-stack: Tahoma, Geneva, sans-serif;
    --color-validation-validmodified: white;
    --background-color-validation-validmodified: green;
    --color-validation-invalid: white;
    --background-color-validation-invalid: red;
    --color-action-primary: blue;
    --background-color-validation-required: transparent;
    --color-validation-required: blue;
    --color-active: white;
    --background-color-active:blue;

    /*    @media (prefers-color-scheme: dark) {
        --color-validation-validmodified: white;
        --background-color-validation-validmodified: green;
        --color-validation-invalid: white;
        --background-color-validation-invalid: red;
        --color-action-primary: lightblue;
    }*/

    width: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
*:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
form {
    margin: auto;
    padding: 0.5em;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;

    & .TabControl {
        width: 100%;
    }

    & .dataSection {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25em;
        justify-items: center;
    }

    & .secondaryContent {
        width: 100%;
        display: grid;
        gap: 0.25em;
        justify-items: center;
    }

    & .updateCancelButtons {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25em;
        justify-items: center;
    }
}