@layout MainLayout
@inherits DataComponent<FarmLocationModel>
@page "/"
@page "/Farms"
@using Domain.Models;
@using FrontEnd.Components.Farm;
<PageTitle>Farms</PageTitle>
<div style="max-height:100vh">

    @if (app?.dbContext is not null)
    {
            <FrontEnd.Components.Farm.FarmList Items="@app.dbContext.Farms.Select(f=>new FarmLocationSummary(f,app.dbContext)).ToList()"></FrontEnd.Components.Farm.FarmList>
    }

</div>
