.MainNavMenu {
  width: 100%;
  display: flex;
  padding-block: 0.25rem;
  background-image: linear-gradient(90deg, var(--nav-gradient-start-color) 0%, var(--nav-gradient-end-color) 100%);
}
.MainNavMenu > ul {
  padding: unset;
  padding-inline: 0.3em;
  width: 100%;
  display: inline-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  gap: 1rem;
  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
}
.MainNavMenu > ul > .spanner {
  flex-grow: 1;
}
.MainNavMenu > ul ::deep button {
  background-color: transparent;
  border: none;
  padding: unset;
  font: inherit;
}
.MainNavMenu > ul ::deep li a, .MainNavMenu > ul ::deep li button {
  white-space: nowrap;
  text-decoration: none;
  color: var(--typography-primary-color);
}
.MainNavMenu > ul ::deep li a:hover, .MainNavMenu > ul ::deep li button:hover {
  text-decoration: underline;
}
.MainNavMenu > ul ::deep li a.active, .MainNavMenu > ul ::deep li button.active {
  text-decoration: underline;
}
.MainNavMenu > ul ::deep li:first-child {
  display: flex;
  align-items: center;
  background-color: var(--logo-bg-color);
  border-radius: 1em;
  gap: 0.25em;
  padding: 0.2em 0.6em;
}
.MainNavMenu > ul ::deep li:first-child a {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: var(--typography-secondary-color);
}

.navbar-toggler {
  display: none;
  appearance: none;
  /*    margin: unset;
      cursor: pointer;
      width: 3.3rem;
      height: 3.3rem;
      color: white;
      position: relative;
      background: var(--nav-gradient-start-color) url(/logo.svg) left no-repeat;
      background-size: 3.3rem;
      left: .25rem;*/
}

.navbar-toggler:checked {
  background-color: rgba(255, 255, 255, 0.5);
}

/*    @media (min-width: 641px) {
        .navbar-toggler {
            display: none;
        }
    }*/
