@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<div class="MainLayout">
<AuthorizeView>
    <Authorized>
        <header>
            <NavMenuMain></NavMenuMain>
        </header>
@*         <aside>

        </aside> *@
        <main>
            @Body
        </main>
        <footer></footer>
    </Authorized>
    <Authorizing>
        @Body
    </Authorizing>
    <NotAuthorized>
        @if (!(navigationManager.Uri.Contains("/authentication/")) || navigationManager.Uri.Contains("logged-out"))
        {<LandingPage></LandingPage>}
        else
        {@Body}
    </NotAuthorized>
</AuthorizeView>
</div>
