.MainLayout {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-areas: "header header" "aside main" "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

main {
  grid-area: main;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  grid-area: footer;
  background-color: #f7f7f7;
  border-top: 1px solid #d6d5d5;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*aside {
    grid-area: aside;
    display:none;
    background-color: #f7f7f7;
    border-right: 1px solid #d6d5d5;
    padding: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}*/
header {
  grid-area: header;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

header ::deep a, header ::deep .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

header ::deep a:hover, header ::deep .btn-link:hover {
  text-decoration: underline;
}

header ::deep a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@container (max-width: 640.98px) {
  .MainLayout {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
  }
  main {
    overflow: auto;
  }
  header:not(.auth) {
    display: none;
  }
  header.auth {
    justify-content: space-between;
  }
  header ::deep a, header ::deep .btn-link {
    margin-left: 0;
  }
}
@container (min-width: 641px) {
  /*    aside {
          width: 250px;
          height: 100vh;
          overflow-y: auto;
      }*/
  header.auth ::deep a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }
  header, article {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
