@using Domain.Constants;
@using Domain.Models;
@inherits DataComponent<LivestockModel>
<div class="LivestockProgeny">
      <nav role="group">
        @foreach(var mate in mates)
        {
            <CascadingValue  Value="mate">
                <LivestockBadge ShowEmoji="false" BackGroundColor="@SelectedMateColor(mate)" OnClick="@(() => ToggleMate(mate))"></LivestockBadge>
            </CascadingValue>
        }
        @if (ShowUnkownButton())
        {
            <button type="button" @onclick=@(() => ToggleMate(new LivestockModel()) )>Unknown</button>
        }
    </nav>
    <section>
        @foreach (var child in offspring.OrderBy(c => c.MotherId).ThenBy(c => c.FatherId).ThenBy(o => o.Birthdate))
        {
            <CascadingValue Value="child">
                <LivestockBadge ShowAge="true" ShowEmoji="false" style="@ChildStyle(child)"></LivestockBadge>
            </CascadingValue>
        }
    </section>
</div>