.MainNavMenu {
    width: 100%;
    display: flex;
    padding-block: .25rem;
    background-image: linear-gradient(90deg, var(--nav-gradient-start-color) 0%, var(--nav-gradient-end-color) 100%);


    & > ul {
        padding: unset;
        padding-inline: .3em;
        width: 100%;
        display: inline-flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        gap: 1rem;
        list-style-type: none; /* Remove bullets */
        margin: 0; /* Remove margins */

        & > .spanner {
            flex-grow: 1;
        }

        & ::deep .submenu {
            display: grid;
            position: absolute;
            z-index: 15;
            border: 1px solid var(--typography-primary-color);
            border-block-start: unset;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background-color: var(--nav-gradient-end-color);
            padding: 0.5rem 1rem;
            align-items: center;
            gap: 0.5rem;
            list-style-type: none; /* Remove bullets */
            margin: 0; /* Remove margins */
        }

        & ::deep button {
            background-color: transparent;
            border: none;
            padding: unset;
            font: inherit;
        }

        & ::deep li a, & ::deep li button {
            white-space: nowrap;
            text-decoration: none;
            color: var(--typography-primary-color);
        }

        & ::deep li a:hover, & ::deep li button:hover {
            text-decoration: underline;
        }

        & ::deep li a.active, & ::deep li button.active {
            text-decoration: underline;
        }

        & > li:first-child {
            display: flex;
            align-items: center;
            background-color: var(--logo-bg-color);
            border-radius: 1em;
            gap: 0.25em;
            padding: 0.2em 0.6em;

            & a {
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
                color: var(--typography-secondary-color);
            }
        }
    }
}

    .navbar-toggler {
        display: none;
        appearance: none;
        /*    margin: unset;
    cursor: pointer;
    width: 3.3rem;
    height: 3.3rem;
    color: white;
    position: relative;
    background: var(--nav-gradient-start-color) url(/logo.svg) left no-repeat;
    background-size: 3.3rem;
    left: .25rem;*/
    }

    .navbar-toggler:checked {
        background-color: rgba(255, 255, 255, 0.5);
    }
    /*    @media (min-width: 641px) {
        .navbar-toggler {
            display: none;
        }
    }*/
