@inherits LayoutComponentBase
<CascadingValue Value="_dbContext">
    <CascadingValue Value="_log">
    <div class="MainLayout">
            <header>
                <MainNavMenu></MainNavMenu>
            </header>
            @* <nav><NavMenu /></nav> *@
            <main>@Body</main>
            <footer>
                info
            </footer>
    </div>
    </CascadingValue>
</CascadingValue>
