@using Domain.Constants
@using FrontEnd.Persistence
@using MicroAgManager.Services
@implements IDisposable
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <nav class="MainNavMenu" onclick="document.querySelector('.navbar-toggler').click()">
        <ul>
            <li>
                <svg class="logo" version="1.0"  viewBox="0 0 474.75 269.25" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(0,269.25)scale(.075,.075)">
                        <path id="path1" d="M 2470 -2253 c -282 736 -515 1341 -517 1346 -2 4 74 7 169 7 l 173 0 124 -353 c 68 -193 130 -364 138 -379 l 14 -28 568 0 569 0 61 162 c 34 90 99 261 144 380 l 82 218 169 0 168 0 -6 -23 c -3 -12 -235 -616 -515 -1342 l -509 -1320 -159 -3 -160 -2 -513 1337 z m 694 -916 c 13 52 117 346 230 654 113 308 206 565 206 572 0 10 -98 13 -465 13 -256 0 -465 -2 -465 -5 0 -3 95 -267 211 -587 116 -321 221 -620 232 -666 11 -45 22 -81 24 -79 1 2 14 46 27 98 z M 5267 -2845 c -326 62 -556 294 -652 658 -62 237 -60 567 5 767 74 225 218 400 398 486 119 56 179 68 342 68 163 1 255 -19 361 -76 105 -55 170 -115 285 -263 l 23 -30 0 155 c 1 314 -54 506 -182 638 -124 127 -284 183 -527 183 -185 0 -342 -38 -520 -124 -47 -23 -88 -43 -92 -45 -5 -2 -8 64 -8 146 l 0 150 78 30 c 173 68 277 89 484 98 232 11 423 -24 593 -106 216 -105 348 -269 421 -525 48 -166 47 -141 51 -1193 l 4 -992 -151 0 -150 0 0 135 c 0 74 -3 135 -8 135 -4 -1 -28 -30 -55 -65 -76 -103 -186 -179 -317 -220 -77 -23 -282 -29 -383 -10 z m 344 249 c 202 43 375 227 408 436 16 100 14 442 -4 544 -26 146 -81 254 -181 352 -129 128 -323 180 -515 140 -157 -34 -285 -139 -368 -303 -102 -203 -98 -625 9 -848 63 -131 171 -242 285 -290 103 -43 248 -56 366 -31 z M 7 -2813 c -4 3 -7 638 -7 1410 l 0 1403 155 0 155 0 2 -547 3 -547 26 40 c 84 127 219 194 389 194 223 -1 397 -110 505 -318 15 -28 31 -52 36 -52 4 0 15 22 23 50 63 212 190 302 405 287 141 -10 131 1 131 -144 l 0 -124 -34 6 c -19 4 -60 1 -92 -5 -48 -10 -66 -20 -100 -54 -75 -79 -74 -64 -74 -884 l 0 -722 -150 0 -150 0 0 584 c 0 672 -3 705 -72 846 -102 209 -301 302 -523 244 -152 -39 -268 -165 -312 -340 -16 -63 -17 -124 -14 -702 l 3 -632 -149 0 c -82 0 -153 3 -156 7 z M 3283 -636 c -88 28 -157 90 -196 175 -30 67 -31 218 -1 282 72 154 238 214 416 150 l 68 -25 0 -143 0 -143 -105 0 -105 0 0 30 0 30 70 0 70 0 0 95 c 0 95 0 96 -28 107 -48 20 -171 14 -219 -10 -173 -89 -159 -401 22 -483 65 -30 173 -23 267 16 15 6 18 2 18 -29 0 -34 -2 -36 -52 -51 -62 -18 -167 -19 -225 -1 z M 460 -326 l 0 316 30 0 30 0 1 -278 c 0 -152 3 -270 6 -262 3 8 57 133 121 278 81 185 120 262 130 260 11 -2 202 -411 241 -517 6 -18 10 60 10 247 l 1 272 35 0 35 0 0 -316 0 -315 -46 3 -46 3 -104 230 c -57 126 -108 243 -115 260 -10 28 -11 28 -20 10 -5 -11 -56 -128 -113 -260 l -104 -240 -46 -3 -46 -3 0 315 z M 1431 -618 c -5 13 -59 153 -120 311 -61 158 -111 290 -111 293 0 3 17 4 38 2 l 37 -3 30 -88 30 -88 139 3 140 3 34 87 c 33 87 34 88 68 88 19 0 34 -4 34 -8 0 -5 -53 -145 -118 -313 l -118 -304 -37 -3 c -31 -3 -38 1 -46 20 z m 109 207 c 28 79 49 150 46 158 -8 19 -214 19 -222 0 -4 -11 85 -281 102 -309 11 -17 21 4 74 151 z M 1855 -627 c -3 7 -4 147 -3 312 l 3 300 33 3 32 3 0 -278 c 1 -222 3 -274 13 -260 7 9 86 134 177 277 l 165 259 43 0 42 1 0 -315 0 -315 -35 0 -36 0 3 265 c 2 146 0 265 -3 265 -3 0 -81 -119 -174 -265 l -168 -265 -44 0 c -26 0 -46 5 -48 13 z M 2605 -388 c -54 139 -108 281 -121 316 l -24 62 38 0 39 0 30 -87 30 -88 140 -3 140 -3 33 91 32 90 39 0 39 0 -13 -33 c -7 -17 -63 -159 -123 -315 l -109 -282 -36 0 -36 0 -98 252 z m 190 -23 c 30 85 55 155 55 157 0 2 -49 4 -110 4 -60 0 -110 -3 -110 -8 0 -10 104 -311 107 -308 1 1 27 71 58 155 z M 3720 -325 l 0 315 165 0 165 0 0 -30 0 -30 -130 0 -130 0 0 -115 0 -115 115 0 115 0 0 -30 0 -30 -115 0 -115 0 0 -110 0 -110 125 0 125 0 0 -30 0 -30 -160 0 -160 0 0 315 z M 4180 -326 l 0 316 35 0 35 0 0 -135 0 -135 55 0 c 49 0 59 4 90 32 19 18 61 78 93 133 56 95 60 100 95 103 21 2 37 -1 37 -6 0 -16 -132 -217 -166 -252 l -33 -35 44 -24 c 60 -32 88 -78 88 -146 0 -67 -25 -111 -78 -139 -33 -17 -62 -22 -167 -24 l -128 -4 0 316 z m 257 -234 c 43 26 59 80 41 135 -18 55 -77 85 -165 85 l -63 0 0 -120 0 -120 78 0 c 59 0 85 5 109 20 z " />
                    </g>
                </svg>
                <a class="brand" href="">MicroAgManager</a>
            </li>
        <li class="spanner"></li>
            <AuthorizeView>
                <Authorized>
                    <li>
                        <NavLink href="/Home" Match="NavLinkMatch.Prefix">
                            @* <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> *@ Home
                        </NavLink>
                    </li>
                @if (appState.DbContext?.Tenants.Any() == true)
                    {
                        <li>
                            <NavLink href="/Land" Match="NavLinkMatch.Prefix">
                                @* <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> *@ Land
                            </NavLink>
                        </li>
                    @if (appState.DbContext?.LandPlots.Any(l => l.Usage == LandPlotUseConstants.Livestock) == true)
                        { 
                            <li>
                                <NavLink href="/Livestock" Match="NavLinkMatch.Prefix">
                                    Livestock
                                </NavLink>
                            </li>
                        }
                    }
                    <li>
                     @context.User.Identity?.Name.
                    </li>
                    <li>
                    <a href="logout"><span class="bi bi-door-closed-fill" aria-hidden="true" style="vertical-align:middle"></span> Logout</a>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li>
                    <a href="register"><span class="bi bi-pencil-square" aria-hidden="true" style="vertical-align:middle"></span> Register</a>
                    </li>
                    <li>
                    <a href="login"><span class="bi bi-door-open" aria-hidden="true" style="vertical-align:middle"></span> Login</a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </nav>
    @code{
    [CascadingParameter] private ApplicationState appState { get; set; }
    protected override void OnInitialized()
    {
        appState.OnDbInitialized += appState_OnDbInitialized;
        appState.OnDbUpdate += appState_OnDbUpdate;
    }
    private void appState_OnDbUpdate() => StateHasChanged();
    private void appState_OnDbInitialized() => StateHasChanged();
    public void Dispose()
    {
        appState.OnDbInitialized -= appState_OnDbInitialized;
        appState.OnDbUpdate -= appState_OnDbUpdate;
    }
    }
    