@inherits LayoutComponentBase

<div class="MainLayout">
    <header>
        <MainNavMenu></MainNavMenu>
    </header>
    @* <nav><NavMenu /></nav> *@
    <main>@Body</main>
    <footer></footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
