.TreeNode {
  padding: unset;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: min-content 1fr;
}
.TreeNode > button {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  padding: unset;
  font: inherit;
  color: inherit;
  display: flex;
}
.TreeNode > button.active {
  background-color: var(--typography-primary-alternate-bg-color);
  color: var(--typography-primary-color);
}
.TreeNode ::deep .TreeView {
  grid-column: 1/-1;
  margin-inline-start: 1em;
}
