@charset "UTF-8";
.ValidatedField {
  display: grid;
  width: inherit;
  border-radius: 0.5em;
  position: relative;
  border-color: transparent;
}
.ValidatedField legend {
  padding: 0.2em;
  border-radius: 1em;
  width: fit-content;
  max-width: 30ch;
  text-wrap: pretty;
}
.ValidatedField legend::before {
  margin-right: 0.1em;
  padding-inline: 0.2em;
  border-radius: 1em;
}
.ValidatedField legend.required::before {
  margin-left: 0.1em;
  padding-inline: 0.2em;
  border-radius: 1em;
  content: "*";
  background-color: var(--background-color-validation-required);
  color: var(--color-validation-required);
}
.ValidatedField:has(input.modified.valid) legend::before {
  content: "✓";
  background-color: var(--background-color-validation-validmodified);
  color: var(--color-validation-validmodified);
}
.ValidatedField:has(input.invalid) legend::before {
  content: "X";
  background-color: var(--background-color-validation-invalid);
  color: var(--color-validation-invalid);
}
.ValidatedField ::deep .validation-message {
  color: var(--background-color-validation-invalid);
}
.ValidatedField ::deep input {
  border: none;
  width: inherit;
}
.ValidatedField ::deep input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-action-primary);
}
.ValidatedField ::deep input[type=checkbox] {
  height: 1em;
  width: 1em;
  margin: auto;
}
