@inject NavigationManager NavigationManager
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Client.Components.User

<nav class="NavMenuMain">
    <LoginDisplay />
    @*<input type="image" @onclick="@(()=>showNavMenu=!showNavMenu)" name="imgbtn" src="StaticContent/SLFDOH/logo.svg" alt="Tool Tip">*@
    @*
    @if (showNavMenu)
    { 
    
       <NavLink href="" Match="NavLinkMatch.All" class="">
            Home
        </NavLink>
        <NavLink href="events" Match="NavLinkMatch.Prefix">
            Events
        </NavLink>
        <NavLink href="animals" Match="NavLinkMatch.Prefix">
            Animals
        </NavLink>
        <NavLink href="photos" Match="NavLinkMatch.Prefix">
            Photos
        </NavLink>
        <AuthorizeView Roles="Administrator">
            <NavLink href="users/users" Match="NavLinkMatch.Prefix">
                    Users
            </NavLink>
        </AuthorizeView>
        <LoginDisplay />
    }*@

</nav>
@code {
    private bool showNavMenu { get; set; } = true;
}