@typeparam TableItem
<CascadingValue Value="(IColumn<TableItem>)this.Column" Name="Column">
    @ChildContent
</CascadingValue>
<br />

<div>
    <button type="button" role="button" @onclick="@((x) => ClearFilter())">Clear</button>
    <button type="button" role="button" @onclick="@((x) => ApplyFilter())">Apply</button>
</div>

