@page "/Ancillaries/BreedingRecords"
@using Domain.Constants
@using Domain.Models
@using MicroAgManager.Components.Livestock
@using MicroAgManager.Components.ScheduledDuty
@using MicroAgManager.Services
@using Microsoft.EntityFrameworkCore
@implements IDisposable
<PageTitle>Breeding Records</PageTitle>
<div class="BreedingRecords">
      @if (appState.DbContext?.Tenants.Any() == true)
    {
        <TreeView Id="BreedingRecord">
    
        </TreeView>
        <div>
            @if (showEditor)
            {
                @if (BreedingRecordId.HasValue)
                {
                    <BreedingRecordEditor Show=@BreedingRecordId.HasValue Modal=false editContext="_recordContext" OnSubmit="EditorClosed" OnCancel="EditorClosed">

                    </BreedingRecordEditor>
                }
            }
            else
            {
                <div>
                    <ScheduledDutyCommand Command="@DutyCommandConstants.Service"></ScheduledDutyCommand>
                    <ScheduledDutyCommand Command="@DutyCommandConstants.Breed"></ScheduledDutyCommand>
                    <BreedingRecordGrid Items="baseBreedingRecordQuery()">

                    </BreedingRecordGrid>
                </div>
            } 
        </div>
    }
    else
    {
        <span>Initializing application </span>
    }
</div>
@code {
    [CascadingParameter] private ApplicationState appState { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "BreedingRecordId")] public long? BreedingRecordId { get; set; }
    private long _breedingRecordId = -1;
    private int _breedingRecordCount = 0;
    private bool showEditor = false;
    private EditContext _recordContext;
    private IQueryable<BreedingRecordModel> baseBreedingRecordQuery()
    {
        var query = appState.DbContext.BreedingRecords.AsQueryable();
        if (_breedingRecordId > 0)
            query = query.Where(p => p.Id == _breedingRecordId);

        _breedingRecordCount = query.Count();
        foreach (var sd in query)
            sd.PopulateDynamicRelations(appState.DbContext);

        return query;
    }
    protected override void OnInitialized()
    {
        appState.OnDbInitialized += Refresh;
        appState.OnDbUpdate += Refresh;
        appState.OnLocationChange += LocationChanged;
    }
    private void LocationChanged()
    {
        showEditor = BreedingRecordId.HasValue;
        _recordContext = new EditContext(new BreedingRecordModel());
        if (showEditor)
        {
            if (BreedingRecordId.HasValue)
            {
                var unit = appState.DbContext.BreedingRecords.Find(BreedingRecordId);
                if (unit is BreedingRecordModel)
                    _recordContext = new EditContext(unit);
            }
        }
        StateHasChanged();
    }
    private void EditorClosed(EditContext context) => ApplicationState.NavigateTo(new(){{ "BreedingRecordId", string.Empty }});

    private void Refresh() => StateHasChanged();
    public void Dispose()
    {
        appState.OnDbInitialized -= Refresh;
        appState.OnDbUpdate -= Refresh;
        appState.OnLocationChange -= Refresh;
    }
}