@page "/Ancillaries/Registrations"
@using Domain.Constants
@using Domain.Models
@using MicroAgManager.Components.ScheduledDuty
@using MicroAgManager.Services
@using Microsoft.EntityFrameworkCore
@using MicroAgManager.Components.Registration
@implements IDisposable
<PageTitle>Registrations</PageTitle>
<div class="Registrations">
  @if (appState.DbContext?.Tenants.Any() == true)
    {
        <TreeView Id="Registration">
    
        </TreeView>
        <div>
            @if (!RegistrationId.HasValue)
            {
                <div>
                    <ScheduledDutyCommand Command="@DutyCommandConstants.Registration" ></ScheduledDutyCommand>
                    <RegistrationGrid Items="baseRegistrationQuery()">

                    </RegistrationGrid>
                </div>
            } 
        </div>
    }
    else
    {
        <span>Initializing application </span>
    }
</div>

@code {
    [CascadingParameter] private ApplicationState appState { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "RegistrarId")] public long? RegistrarId { get; set; }
    [Parameter][SupplyParameterFromQuery(Name = "RegistrationId")] public long? RegistrationId { get; set; }
    private long _RegistrationId = -1;
    private int _RegistrationCount = 0;
    private IQueryable<RegistrationModel> baseRegistrationQuery()
    {
        var query = appState.DbContext.Registrations.Include(p => p.Registrar).AsQueryable();
        if (_RegistrationId > 0)
            query = query.Where(p => p.Id == _RegistrationId);
        else
        {
            // if (ApplicationState.FarmSelectedFilter.Any())
            //     query = query.Where(p => ApplicationState.FarmSelectedFilter.Contains(p.FarmLocationId));
            // if (ApplicationState.UsageSelectedFilter.Any())
            //     query = query.Where(p => ApplicationState.UsageSelectedFilter.Contains(p.Usage));
            // if (!string.IsNullOrEmpty(plotNameFilter))
            //     query = query.Where(p => p.Name.Contains(plotNameFilter));
        }
        _RegistrationCount = query.Count();
        return query.ToList().AsQueryable();
    }
    protected override void OnInitialized()
    {
        appState.OnDbInitialized += Refresh;
        appState.OnDbUpdate += Refresh;
        appState.OnLocationChange += Refresh;
    }
    private void Refresh() => StateHasChanged();
    public void Dispose()
    {
        appState.OnDbInitialized -= Refresh;
        appState.OnDbUpdate -= Refresh;
        appState.OnLocationChange -= Refresh;
    }
}