@if (editContext is not null)
{
    <EditForm EditContext="@editContext" OnValidSubmit="OnValidSubmit" >
        <DataAnnotationsValidator />
        <section class="dataSection">
            @DataContent
        </section>
        @if (SecondaryContent is not null)
        {
            <section class="secondaryContent">
            @SecondaryContent
            </section>
        }
        @if (showUpdateCancelButtons)
        {
            <section class="updateCancelButtons">
                <button type="submit">@(createOnly ? "Create" : "Update")</button>
                <button type="button" @onclick="Cancel">Cancel</button>
            </section>
        }
    </EditForm>
}