@using Domain.Models;
@using FrontEnd.Components.BreedingRecord;
@inherits DataComponent
@if (editContext is not null)
{
    <ValidatedForm editContext="editContext"
                   FreshenData="FreshenData"
                   OnValidSubmit="OnSubmit"
                   Cancel="Cancel"
                   showUpdateCancelButtons="false"
                   Modal="Modal"
                   Show="Show"
    @ref=_validatedForm>
        <DataContent>
            @if (scheduledDuty.Record == "BreedingRecord")
            {
                <BreedingRecordEditor showUpdateCancelButtons="true" breedingRecordId="@scheduledDuty.RecordId" Cancelled="Cancel" Submitted="BreedingRecordSubmitted"></BreedingRecordEditor>
            }
        </DataContent>
        <SecondaryContent>
            @if (scheduledDuty.Id > 0)
            {
                <section class="updateCancelButtons">
                    <button type="button" @onclick="Snooze">Snooze</button>
                    <Snooze Show=showSnooze Cancelled="SnoozeCancel" Submitted="SnoozeSubmitted"></Snooze>
                    <button type="button" @onclick="Confirm">Dismiss</button>
                    <ConfirmationYesNo Prompt="Are you sure you want to Dismiss this Duty?" Show=showConfirm Cancelled="ConfirmCancel" Submitted="DismissedConfirmed"></ConfirmationYesNo>
                </section>
            }
        </SecondaryContent>
    </ValidatedForm>
}