@if (Show)
{ 
<div class="modalContainer">
    <dialog open="true">
        @Prompt
        <button type="button" @onclick="Submit">Yes</button>
        <button type="button" @onclick="Cancel">No</button>
    </dialog>
</div>
}
@code {
    [Parameter] public EventCallback Submitted { get; set; }
    [Parameter] public EventCallback Cancelled { get; set; }
    [Parameter] public string Prompt { get; set; }
    [Parameter] public bool Show { get; set; }

    
    private async Task Cancel()
    {
        await Cancelled.InvokeAsync();
        StateHasChanged();
    }
    private async Task Submit()
    {
        await Submitted.InvokeAsync();
        StateHasChanged();
    }
}