<h3>Welcome @tenant?.Name</h3>
Please enter information about your farm's location
@if(tenant is not null)
{
    <FrontEnd.Components.Farm.FarmEditor farmName="@tenant.Name"></FrontEnd.Components.Farm.FarmEditor>
}
